* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    }
body {
    background-color: whitesmoke;
    padding: 10px;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    

    background: lightgray;
	border: 1px solid #7C7C7C;
	list-style: none;	


  }
  
  li {
    float: left;
  }
  li.derecha {
    float:right
  }
  

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .rojo {
    color: white;
    background-color:  darkred;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a.rojo:hover {
    background-color:rgb(200,0,0)
  }

  li a:hover {
    background-color: black;
    color: white;
  }

